altgraph==0.*
autopep8==1.*
beautifulsoup4==4.*
certifi==2020.11.*
chardet==3.*
hexonet.apiconnector==3.*
idna==2.*
numpy==1.*
pep8==1.*
Pillow==7.*
pycodestyle==2.*
PyQt5==5.*
PyQt5-sip==12.*
requests==2.*
pytest-cov==2.*
soupsieve==2.*
tabulate==0.*
urllib3==1.*
twine==3.*
